{% extends "base.html" %}
{% load static %}
{% block title %}Заявка на кредит{% endblock %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<style>
#loan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
form {
  width: 100%; /* Установите максимальную ширину формы */
  max-width: 500px; /* Максимальная ширина формы для больших экранов */
}
h1{
margin: 10px auto;
}
#id_name {
width: 400px !important;
}
#id_last_name {
width: 365px !important;
}
#id_patronymic {
width: 365px !important;
}
#id_date_birth  {
width: 320px !important;
}
#id_passport_series  {
width: 315px !important;
}
#id_passport_number  {
width: 310px !important;
}
#id_registration_address  {
width: 290px !important;
}
#id_email  {
width: 240px !important;
}
</style>
{% endblock %}

{% block content %}
<div class="container" id="loan">
  <h1 style="color:rgb(0, 66, 128);">Кредитная заявка</h1>
  <form action="{% url 'user:customer_loan_application' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}

            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}

    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button type="submit">Отправить</button>
  </form>
    <br>
</div>
{% endblock %}