<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p style="color:rgb(255, 255, 255); text-align: center;">Курс валюты на:</p>
    <p style="color:rgb(255, 255, 255); text-align: center;">{{ current_date }}</p>
    <div class="input-group" style=" text-align: center;margin-left: 15px;margin-bottom: 15px;">
        <span class="input-group-text" >1 $</span>
        <span class="input-group-text" style="margin-right: 10px;">{{ USD.RUB|floatformat:2 }}</span>

        <span class="input-group-text">1 €:</span>
        <span class="input-group-text" style="margin-right: 10px;">{{ EUR.RUB|floatformat:2 }}</span>

    </div>
</body>
</html>
