<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p style="color:rgb(255, 255, 255); text-align: center;">Курс валюты:</p>
    <div class="input-group" style="background-color:rgb(78, 117, 138); text-align: center;">
        <span class="input-group-text">1 $:</span>
        <span class="input-group-text">{{ USD.RUB|floatformat:2 }}</span>
    </div>
    <div class="input-group" style="background-color:rgb(78, 117, 138); text-align: center;">
        <span class="input-group-text">1 €:</span>
        <span class="input-group-text">{{ EUR.RUB|floatformat:2 }}</span>
    </div>
</body>
</html>
